automations/workflows/n8n/sync-complete.json
{
  "name": "Sync: Complete Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Sync Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "sync-complete-hook"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\n\nconst summary = {\n  ref: payload.ref,\n  sha: payload.sha.substring(0, 7),\n  actor: payload.actor,\n  timestamp: payload.timestamp,\n  success: true\n};\n\nreturn [{ json: summary }];"
      },
      "id": "parse-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sync_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "full_sync"
            },
            {
              "name": "git_ref",
              "value": "={{ $json.ref }}"
            },
            {
              "name": "git_sha",
              "value": "={{ $json.sha }}"
            },
            {
              "name": "triggered_by",
              "value": "={{ $json.actor }}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-to-supabase",
      "name": "Log Full Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/sync-kb-to-schema",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "refresh_all"
            },
            {
              "name": "source",
              "value": "github_action"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-kb-refresh",
      "name": "Trigger KB Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "channel": "#dev-notifications",
        "text": ":white_check_mark: Full sync completed\n\n*Branch:* `{{ $json.ref }}`\n*Commit:* `{{ $json.sha }}`\n*By:* {{ $json.actor }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-bot",
          "name": "Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Full sync completed' }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook: Sync Complete": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Log Full Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Full Sync": {
      "main": [
        [
          {
            "node": "Trigger KB Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger KB Refresh": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "executionOrder": "v1"
  },
  "tags": ["sync", "automation", "orchestration"]
}
