odoo/odoo/odoo/automations/n8n/workflows/bir-rag-pipeline.json
{
  "name": "Odoo Copilot — BIR RAG Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": 1, "triggerAtHour": 2 }] }
      },
      "name": "Weekly Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/list/bir-documents",
        "authentication": "headerAuth",
        "options": {
          "headers": {
            "apikey": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
            "Authorization": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
          }
        }
      },
      "name": "List BIR Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/bir-ingest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "metadata", "value": "={{ JSON.stringify({ title: $json.name, form_number: $json.metadata?.form_number || '', tax_type: $json.metadata?.tax_type || '', effective_date: $json.metadata?.effective_date || '', issuance_number: $json.metadata?.issuance_number || '' }) }}" }
          ]
        },
        "options": {
          "headers": {
            "Authorization": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
          }
        }
      },
      "name": "Ingest Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "BIR RAG Pipeline: Processed {{ $items.length }} documents. Check Supabase kb schema for results." }
          ]
        },
        "options": {}
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Weekly Cron": { "main": [[{ "node": "List BIR Documents", "type": "main", "index": 0 }]] },
    "List BIR Documents": { "main": [[{ "node": "Ingest Document", "type": "main", "index": 0 }]] },
    "Ingest Document": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Weekly BIR document ingestion pipeline — checks Supabase Storage for new BIR docs, ingests via Edge Function, notifies Slack"
  }
}
