odoo/odoo/odoo/automations/n8n/workflows/ppm-clarity-odoo-to-plane.json
{
  "name": "PPM Clarity: Odoo → Plane (Completion)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 10 }]
        }
      },
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Query Supabase for active work item links\n// that have Odoo tasks to check for completion\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst response = await this.helpers.request({\n  method: 'GET',\n  url: `${supabaseUrl}/rest/v1/work_item_links?sync_state=eq.ok&odoo_task_id=not.is.null&select=*`,\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': `Bearer ${supabaseKey}`\n  }\n});\n\nconst links = JSON.parse(response);\nreturn links.map(link => ({ json: link }));"
      },
      "name": "Get Active Links",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check Odoo task stage via XML-RPC\n// Placeholder: actual implementation calls OdooClient\nconst link = $input.first().json;\n\n// Simulate checking if task is in 'Done' stage\nreturn [{\n  json: {\n    ...link,\n    odoo_stage: 'Done',\n    is_completed: true,\n    idempotency_key: `odoo:odoo_to_plane:${link.odoo_task_id}:${new Date().toISOString()}`\n  }\n}];"
      },
      "name": "Check Odoo Stage",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_completed }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Update Plane issue state to Done via REST API\nconst link = $input.first().json;\nconst planeUrl = $env.PLANE_BASE_URL;\nconst planeKey = $env.PLANE_API_KEY;\nconst workspace = $env.PLANE_WORKSPACE_SLUG;\n\n// Resolve 'Done' state ID and update\nreturn [{\n  json: {\n    ...link,\n    plane_updated: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Update Plane State",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/append_work_item_event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_event_type", "value": "odoo_to_plane" },
            { "name": "p_source_system", "value": "n8n" },
            { "name": "p_event_data", "value": "={{ JSON.stringify($json) }}" },
            { "name": "p_idempotency_key", "value": "={{ $json.idempotency_key }}" },
            { "name": "p_success", "value": true }
          ]
        }
      },
      "name": "Log Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Every 10 Minutes": { "main": [[{ "node": "Get Active Links", "type": "main", "index": 0 }]] },
    "Get Active Links": { "main": [[{ "node": "Check Odoo Stage", "type": "main", "index": 0 }]] },
    "Check Odoo Stage": { "main": [[{ "node": "Is Done?", "type": "main", "index": 0 }]] },
    "Is Done?": { "main": [[{ "node": "Update Plane State", "type": "main", "index": 0 }], []] },
    "Update Plane State": { "main": [[{ "node": "Log Event", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["ppm-clarity", "odoo", "plane", "completion"]
}
