workflows/n8n/sync-schema-changed.json
{
  "name": "Sync: Schema Changed Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schema-changed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Schema Changed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "schema-changed-hook"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-files",
      "name": "Split Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cd /workspace/odoo-ce && node scripts/sync/schema-to-openapi.js"
      },
      "id": "generate-openapi",
      "name": "Generate OpenAPI",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "command": "cd /workspace/odoo-ce && node scripts/sync/schema-to-docs.js"
      },
      "id": "generate-docs",
      "name": "Generate Data Dictionary",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/schema-changed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tables",
              "value": "={{ $json.tables }}"
            },
            {
              "name": "migration_file",
              "value": "={{ $json.file }}"
            },
            {
              "name": "action",
              "value": "refresh_metadata"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-edge-function",
      "name": "Trigger Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sync_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "schema_sync"
            },
            {
              "name": "outputs",
              "value": "={{ JSON.stringify(['openapi.yaml', 'data-dictionary.md']) }}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-sync-event",
      "name": "Log Sync Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "channel": "#dev-notifications",
        "text": ":database: Schema sync completed\n\nGenerated:\n- `docs/api/openapi.yaml`\n- `docs/data-dictionary.md`",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1560, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-bot",
          "name": "Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, outputs: ['openapi.yaml', 'data-dictionary.md'] }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook: Schema Changed": {
      "main": [
        [
          {
            "node": "Split Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Files": {
      "main": [
        [
          {
            "node": "Generate OpenAPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Data Dictionary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OpenAPI": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Data Dictionary": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Trigger Edge Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Edge Function": {
      "main": [
        [
          {
            "node": "Log Sync Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sync Event": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "executionOrder": "v1"
  },
  "tags": ["sync", "automation", "schema"]
}
