odoo/automations/n8n/workflows/ai-agent-router.json
{
  "name": "Odoo Copilot — AI Agent Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent-router",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/resolve_channel_user",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_platform", "value": "={{ $json.platform }}" },
            { "name": "p_platform_user_id", "value": "={{ $json.platform_user_id }}" }
          ]
        },
        "options": {
          "headers": {
            "apikey": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
          }
        }
      },
      "name": "Resolve Identity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/copilot-classify-intent",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $('Webhook').item.json.message }}" }
          ]
        },
        "options": {
          "headers": {
            "Authorization": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
          }
        }
      },
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "value": "informational", "output": 0 },
            { "value": "navigational", "output": 1 },
            { "value": "transactional", "output": 2 }
          ]
        },
        "dataPropertyName": "intent"
      },
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/search_hybrid",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query_text", "value": "={{ $('Webhook').item.json.message }}" },
            { "name": "match_count", "value": "5" }
          ]
        },
        "options": {
          "headers": {
            "apikey": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
          }
        }
      },
      "name": "RAG Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 160]
    },
    {
      "parameters": {
        "jsCode": "const model = $input.first().json.message.match(/(?:open|show|go to|navigate)\\s+(.+)/i)?.[1] || '';\nconst baseUrl = $env.ODOO_URL || 'https://erp.insightpulseai.com';\nreturn [{ json: { response: `${baseUrl}/web#action=&model=${model}`, type: 'deep_link' } }];"
      },
      "name": "Generate Deep Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.ODOO_URL }}/xmlrpc/2/object",
        "authentication": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/xml",
        "body": "={{ $json.xmlrpc_payload }}",
        "options": {}
      },
      "name": "Odoo XML-RPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 440]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "response", "value": "={{ $json.response || $json }}" },
            { "name": "platform", "value": "={{ $('Webhook').item.json.platform }}" }
          ]
        },
        "options": {}
      },
      "name": "Callback Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Resolve Identity", "type": "main", "index": 0 }]] },
    "Resolve Identity": { "main": [[{ "node": "Classify Intent", "type": "main", "index": 0 }]] },
    "Classify Intent": { "main": [[{ "node": "Switch Intent", "type": "main", "index": 0 }]] },
    "Switch Intent": {
      "main": [
        [{ "node": "RAG Search", "type": "main", "index": 0 }],
        [{ "node": "Generate Deep Link", "type": "main", "index": 0 }],
        [{ "node": "Odoo XML-RPC", "type": "main", "index": 0 }]
      ]
    },
    "RAG Search": { "main": [[{ "node": "Callback Response", "type": "main", "index": 0 }]] },
    "Generate Deep Link": { "main": [[{ "node": "Callback Response", "type": "main", "index": 0 }]] },
    "Odoo XML-RPC": { "main": [[{ "node": "Callback Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Odoo Copilot AI Agent Router — receives messages from Slack/Teams, classifies intent, routes to RAG/navigation/transaction, responds via callback"
  }
}
