odoo/automations/n8n/workflows/plane-odoo-github-sync.json
{
  "name": "Plane ↔ Odoo ↔ GitHub Enterprise Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plane-odoo-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (Plane/GitHub)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "plane-odoo-github-sync"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.source }}",
              "operation": "equals",
              "value2": "plane"
            }
          ]
        }
      },
      "id": "route-plane",
      "name": "Route: Plane Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 240]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.source }}",
              "operation": "equals",
              "value2": "github"
            }
          ]
        }
      },
      "id": "route-github",
      "name": "Route: GitHub Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 460]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/plane-sync",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"action\": \"create\",\n  \"entity_type\": \"github.issue\",\n  \"entity_id\": {{ $json.issue.id }},\n  \"data\": {\n    \"name\": \"[GitHub] {{ $json.issue.title }}\",\n    \"description\": \"{{ $json.issue.body }}\\n\\n---\\n**Source**: [GitHub Issue #{{ $json.issue.number }}]({{ $json.issue.html_url }})\",\n    \"state\": \"backlog\",\n    \"priority\": \"{{ $json.issue.labels.includes('priority:high') ? 'high' : 'medium' }}\",\n    \"labels\": [\"source:github\", \"area:development\"]\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "supabase-plane-sync",
      "name": "Supabase Edge Function (Plane Sync)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 560],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.ODOO_URL }}/xmlrpc/2/common",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\n      \"{{ $env.ODOO_DB }}\",\n      \"{{ $env.ODOO_USERNAME }}\",\n      \"{{ $env.ODOO_PASSWORD }}\",\n      {}\n    ]\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "id": "odoo-auth",
      "name": "Odoo XML-RPC Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 340]
    },
    {
      "parameters": {
        "url": "={{ $env.ODOO_URL }}/xmlrpc/2/object",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $env.ODOO_DB }}\",\n      {{ $node[\"Odoo XML-RPC Auth\"].json.result }},\n      \"{{ $env.ODOO_PASSWORD }}\",\n      \"project.task\",\n      \"create\",\n      [\n        {\n          \"name\": \"{{ $json.issue.name }}\",\n          \"description\": \"{{ $json.issue.description }}\",\n          \"plane_issue_id\": \"{{ $json.plane_issue_id }}\",\n          \"project_id\": {{ $env.ODOO_PLANE_PROJECT_ID }}\n        }\n      ]\n    ]\n  },\n  \"id\": 2\n}",
        "options": {}
      },
      "id": "odoo-create-task",
      "name": "Odoo Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 340]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "tableId": "ops.work_items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "entity_type",
              "fieldValue": "cross_platform_task"
            },
            {
              "fieldId": "source_system",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "github_issue_id",
              "fieldValue": "={{ $json.issue?.id }}"
            },
            {
              "fieldId": "plane_issue_id",
              "fieldValue": "={{ $json.plane_issue_id }}"
            },
            {
              "fieldId": "odoo_task_id",
              "fieldValue": "={{ $node[\"Odoo Create Task\"].json.result }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify($json) }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "supabase-log-work-item",
      "name": "Supabase Log (ops.work_items)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 340],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-main",
          "name": "Supabase Main Project"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channelId": {
          "__rl": true,
          "value": "C06EXAMPLE123",
          "mode": "id"
        },
        "text": "=🔗 **Cross-Platform Task Created**\n\n**GitHub Issue**: [#{{ $json.issue.number }}]({{ $json.issue.html_url }})\n**Plane Issue**: [View in Plane]({{ $json.plane_issue_url }})\n**Odoo Task**: Task #{{ $node[\"Odoo Create Task\"].json.result }}\n\n**Title**: {{ $json.issue.title }}\n**Priority**: {{ $json.issue.priority }}\n**Status**: Synced to Plane ({{ $json.plane_issue_id }}) and Odoo",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1340, 340],
      "credentials": {
        "slackApi": {
          "id": "slack-workspace",
          "name": "Slack Workspace"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.ODOO_URL }}/xmlrpc/2/object",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $env.ODOO_DB }}\",\n      {{ $node[\"Odoo XML-RPC Auth\"].json.result }},\n      \"{{ $env.ODOO_PASSWORD }}\",\n      \"bir.filing.deadline\",\n      \"write\",\n      [\n        {{ $json.odoo_task_id }},\n        {\n          \"plane_issue_id\": \"{{ $json.plane_issue_id }}\",\n          \"plane_sync_status\": \"synced\"\n        }\n      ]\n    ]\n  },\n  \"id\": 3\n}",
        "options": {}
      },
      "id": "odoo-update-plane-link",
      "name": "Odoo Update Plane Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 180]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repository }}/issues/{{ $json.issue_number }}/comments",
        "requestMethod": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"body\": \"✅ **Auto-synced to Plane and Odoo**\\n\\n- **Plane Issue**: [View in fin-ops]({{ $json.plane_issue_url }})\\n- **Odoo Task**: Task #{{ $json.odoo_task_id }}\\n\\nChanges to this GitHub issue will be synced to both systems.\"\n}",
        "options": {}
      },
      "id": "github-comment",
      "name": "GitHub Add Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 560],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-enterprise-pat",
          "name": "GitHub Enterprise PAT"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"workflow\": \"plane-odoo-github-sync\",\n  \"source\": \"{{ $json.source }}\",\n  \"github_issue_id\": {{ $json.issue?.id }},\n  \"plane_issue_id\": \"{{ $json.plane_issue_id }}\",\n  \"odoo_task_id\": {{ $node[\"Odoo Create Task\"].json.result }},\n  \"work_item_id\": \"{{ $node[\"Supabase Log (ops.work_items)\"].json[0].id }}\",\n  \"synced_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 340]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "tableId": "ops.platform_events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "event_type",
              "fieldValue": "workflow.plane_odoo_github_sync"
            },
            {
              "fieldId": "source_system",
              "fieldValue": "n8n"
            },
            {
              "fieldId": "event_data",
              "fieldValue": "={{ JSON.stringify({\n  github_issue: $json.issue,\n  plane_issue_id: $json.plane_issue_id,\n  odoo_task_id: $node[\"Odoo Create Task\"].json.result,\n  work_item_id: $node[\"Supabase Log (ops.work_items)\"].json[0].id\n}) }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "correlation_id",
              "fieldValue": "={{ $workflow.id }}_{{ $execution.id }}"
            }
          ]
        }
      },
      "id": "supabase-log-event",
      "name": "Supabase Log Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 560],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-main",
          "name": "Supabase Main Project"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Plane/GitHub)": {
      "main": [
        [
          {
            "node": "Route: Plane Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route: GitHub Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: GitHub Event": {
      "main": [
        [
          {
            "node": "Supabase Edge Function (Plane Sync)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Edge Function (Plane Sync)": {
      "main": [
        [
          {
            "node": "Odoo XML-RPC Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo XML-RPC Auth": {
      "main": [
        [
          {
            "node": "Odoo Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Create Task": {
      "main": [
        [
          {
            "node": "Supabase Log (ops.work_items)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Log (ops.work_items)": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Add Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Plane Event": {
      "main": [
        [
          {
            "node": "Odoo Update Plane Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Add Comment": {
      "main": [
        [
          {
            "node": "Supabase Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Log Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-insightpulseai"
  },
  "id": "plane-odoo-github-sync",
  "tags": [
    {
      "createdAt": "2026-03-05T10:00:00.000Z",
      "updatedAt": "2026-03-05T10:00:00.000Z",
      "id": "integration",
      "name": "Integration"
    },
    {
      "createdAt": "2026-03-05T10:00:00.000Z",
      "updatedAt": "2026-03-05T10:00:00.000Z",
      "id": "automation",
      "name": "Automation"
    }
  ]
}
