automations/n8n/workflows/10-entra-user-provisioning.json
{"name":"Entra User Provisioning — Odoo Employee → Entra ID","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"operation":"getAll","resource":"custom","customResource":"hr.employee","returnAll":false,"limit":50,"options":{"fieldsList":["id","name","work_email","job_title","department_id","active","create_date"],"domain":"[['active', '=', True], ['work_email', '!=', False], ['create_date', '>=', '{{ $now.minus(15, \"minutes\").toISO() }}']]"}},"id":"odoo-get-new-employees","name":"Odoo — Get New Employees","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[420,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"has-items","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"exists","operation":"exists"}}]}},"id":"if-new-employees","name":"Has New Employees?","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,300]},{"parameters":{"resource":"user","operation":"create","properties":{"accountEnabled":true,"displayName":"={{ $json.name }}","mailNickname":"={{ $json.work_email.split('@')[0] }}","userPrincipalName":"={{ $json.work_email }}","passwordProfile":{"forceChangePasswordNextSignIn":true,"password":"={{ $randomString(16) + '!1Aa' }}"},"jobTitle":"={{ $json.job_title || '' }}","department":"={{ $json.department_id ? $json.department_id[1] : '' }}"}},"id":"entra-create-user","name":"Entra — Create User","type":"n8n-nodes-base.microsoftEntra","typeVersion":1,"position":[860,200]},{"parameters":{"resource":"group","operation":"getAll","returnAll":false,"limit":1,"filter":"displayName eq 'sg-ipai-developers'"},"id":"entra-get-group","name":"Entra — Get Default Group","type":"n8n-nodes-base.microsoftEntra","typeVersion":1,"position":[1080,200]},{"parameters":{"method":"POST","url":"=https://graph.microsoft.com/v1.0/groups/{{ $json.id }}/members/$ref","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftEntraOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"@odata.id","value":"=https://graph.microsoft.com/v1.0/directoryObjects/{{ $('Entra — Create User').item.json.id }}"}]}},"id":"entra-add-to-group","name":"Entra — Add to Group","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,200]},{"parameters":{"channel":"#platform-alerts","text":"=:white_check_mark: *Entra user provisioned*\n• Name: {{ $('Entra — Create User').item.json.displayName }}\n• Email: {{ $('Entra — Create User').item.json.userPrincipalName }}\n• Group: sg-ipai-developers\n• Source: Odoo HR","otherOptions":{}},"id":"slack-notify","name":"Slack — Notify","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1520,200]},{"parameters":{"assignments":{"assignments":[{"id":"log","name":"log","type":"string","value":"=No new employees found at {{ $now.toISO() }}"}]}},"id":"no-action","name":"No New Employees","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,420]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Odoo — Get New Employees","type":"main","index":0}]]},"Odoo — Get New Employees":{"main":[[{"node":"Has New Employees?","type":"main","index":0}]]},"Has New Employees?":{"main":[[{"node":"Entra — Create User","type":"main","index":0}],[{"node":"No New Employees","type":"main","index":0}]]},"Entra — Create User":{"main":[[{"node":"Entra — Get Default Group","type":"main","index":0}]]},"Entra — Get Default Group":{"main":[[{"node":"Entra — Add to Group","type":"main","index":0}]]},"Entra — Add to Group":{"main":[[{"node":"Slack — Notify","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
