automations/n8n/workflows/11-odoo-entra-sync.json
{"name":"Odoo ↔ Entra Sync — Employee Changes → Entra Updates","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"schedule-trigger","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"operation":"getAll","resource":"custom","customResource":"hr.employee","returnAll":true,"options":{"fieldsList":["id","name","work_email","job_title","department_id","active","write_date"],"domain":"[['work_email', '!=', False], ['write_date', '>=', '{{ $now.minus(1, \"hours\").toISO() }}']]"}},"id":"odoo-changed-employees","name":"Odoo — Recently Changed Employees","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[420,300]},{"parameters":{"conditions":{"conditions":[{"id":"has-items","leftValue":"={{ $json.id }}","operator":{"type":"exists","operation":"exists"}}]}},"id":"if-changes","name":"Has Changes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,300]},{"parameters":{"resource":"user","operation":"getAll","returnAll":false,"limit":1,"filter":"=userPrincipalName eq '{{ $json.work_email }}'"},"id":"entra-find-user","name":"Entra — Find User","type":"n8n-nodes-base.microsoftEntra","typeVersion":1,"position":[860,200]},{"parameters":{"conditions":{"conditions":[{"id":"user-exists","leftValue":"={{ $json.id }}","operator":{"type":"exists","operation":"exists"}}]}},"id":"if-user-exists","name":"User Exists in Entra?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,200]},{"parameters":{"resource":"user","operation":"update","userId":"={{ $json.id }}","updateFields":{"displayName":"={{ $('Odoo — Recently Changed Employees').item.json.name }}","jobTitle":"={{ $('Odoo — Recently Changed Employees').item.json.job_title || '' }}","department":"={{ $('Odoo — Recently Changed Employees').item.json.department_id ? $('Odoo — Recently Changed Employees').item.json.department_id[1] : '' }}","accountEnabled":"={{ $('Odoo — Recently Changed Employees').item.json.active }}"}},"id":"entra-update-user","name":"Entra — Update User","type":"n8n-nodes-base.microsoftEntra","typeVersion":1,"position":[1300,120]},{"parameters":{"channel":"#platform-alerts","text":"=:arrows_counterclockwise: *Entra user synced from Odoo*\n• {{ $('Odoo — Recently Changed Employees').item.json.name }} ({{ $('Odoo — Recently Changed Employees').item.json.work_email }})\n• Active: {{ $('Odoo — Recently Changed Employees').item.json.active }}","otherOptions":{}},"id":"slack-notify-sync","name":"Slack — Notify Sync","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1520,120]},{"parameters":{"channel":"#platform-alerts","text":"=:warning: *Odoo employee not found in Entra*\n• {{ $('Odoo — Recently Changed Employees').item.json.name }} ({{ $('Odoo — Recently Changed Employees').item.json.work_email }})\n• Run provisioning workflow or create manually","otherOptions":{}},"id":"slack-notify-missing","name":"Slack — User Missing","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1300,320]}],"connections":{"Every Hour":{"main":[[{"node":"Odoo — Recently Changed Employees","type":"main","index":0}]]},"Odoo — Recently Changed Employees":{"main":[[{"node":"Has Changes?","type":"main","index":0}]]},"Has Changes?":{"main":[[{"node":"Entra — Find User","type":"main","index":0}],[]]},"Entra — Find User":{"main":[[{"node":"User Exists in Entra?","type":"main","index":0}]]},"User Exists in Entra?":{"main":[[{"node":"Entra — Update User","type":"main","index":0}],[{"node":"Slack — User Missing","type":"main","index":0}]]},"Entra — Update User":{"main":[[{"node":"Slack — Notify Sync","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
