automations/n8n/workflows/12-cloudflare-dns-automation.json
{"name":"Cloudflare DNS Automation — YAML Registry → DNS Records","nodes":[{"parameters":{"httpMethod":"POST","path":"dns-sync","options":{}},"id":"webhook-trigger","name":"Webhook — DNS Sync Request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"dns-sync-cloudflare"},{"parameters":{"method":"GET","url":"=https://api.cloudflare.com/client/v4/zones/{{ $env.CLOUDFLARE_ZONE_ID }}/dns_records","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"100"}]},"options":{}},"id":"cf-list-records","name":"Cloudflare — List Current DNS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300]},{"parameters":{"jsCode":"const desired = $('Webhook — DNS Sync Request').item.json.body.records || [];\nconst current = $('Cloudflare — List Current DNS').item.json.result || [];\nconst actions = [];\nconst domain = 'insightpulseai.com';\nfor (const rec of desired) {\n  const fqdn = rec.name === '@' ? domain : `${rec.name}.${domain}`;\n  const existing = current.find(c => c.name === fqdn && c.type === rec.type);\n  if (!existing) {\n    actions.push({ action: 'create', ...rec, fqdn });\n  } else if (existing.content !== rec.content || existing.proxied !== rec.proxied) {\n    actions.push({ action: 'update', id: existing.id, ...rec, fqdn });\n  }\n}\nreturn actions.map(a => ({ json: a }));"},"id":"diff-calculator","name":"Calculate DNS Diff","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"conditions":{"conditions":[{"id":"has-actions","leftValue":"={{ $json.action }}","operator":{"type":"exists","operation":"exists"}}]}},"id":"if-changes","name":"Has DNS Changes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,300]},{"parameters":{"conditions":{"conditions":[{"id":"is-create","leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}]}},"id":"switch-action","name":"Create or Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,200]},{"parameters":{"method":"POST","url":"=https://api.cloudflare.com/client/v4/zones/{{ $env.CLOUDFLARE_ZONE_ID }}/dns_records","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"type\":\"{{ $json.type }}\",\"name\":\"{{ $json.fqdn }}\",\"content\":\"{{ $json.content }}\",\"proxied\":{{ $json.proxied || false }},\"ttl\":{{ $json.ttl || 1 }}}"},"id":"cf-create-record","name":"Cloudflare — Create Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,120]},{"parameters":{"method":"PATCH","url":"=https://api.cloudflare.com/client/v4/zones/{{ $env.CLOUDFLARE_ZONE_ID }}/dns_records/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"type\":\"{{ $json.type }}\",\"name\":\"{{ $json.fqdn }}\",\"content\":\"{{ $json.content }}\",\"proxied\":{{ $json.proxied || false }},\"ttl\":{{ $json.ttl || 1 }}}"},"id":"cf-update-record","name":"Cloudflare — Update Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,320]},{"parameters":{"channel":"#platform-alerts","text":"=:globe_with_meridians: *DNS record {{ $json.action }}d*\n• {{ $json.fqdn }} ({{ $json.type }}) → {{ $json.content }}\n• Proxied: {{ $json.proxied || false }}","otherOptions":{}},"id":"slack-notify-dns","name":"Slack — Notify DNS Change","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1520,200]}],"connections":{"Webhook — DNS Sync Request":{"main":[[{"node":"Cloudflare — List Current DNS","type":"main","index":0}]]},"Cloudflare — List Current DNS":{"main":[[{"node":"Calculate DNS Diff","type":"main","index":0}]]},"Calculate DNS Diff":{"main":[[{"node":"Has DNS Changes?","type":"main","index":0}]]},"Has DNS Changes?":{"main":[[{"node":"Create or Update?","type":"main","index":0}],[]]},"Create or Update?":{"main":[[{"node":"Cloudflare — Create Record","type":"main","index":0}],[{"node":"Cloudflare — Update Record","type":"main","index":0}]]},"Cloudflare — Create Record":{"main":[[{"node":"Slack — Notify DNS Change","type":"main","index":0}]]},"Cloudflare — Update Record":{"main":[[{"node":"Slack — Notify DNS Change","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
