automations/n8n/workflows/13-plane-odoo-bidirectional-sync.json
{
  "name": "Plane ↔ Odoo Bidirectional Sync — Odoo Wins",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plane-issue-webhook",
        "options": {}
      },
      "id": "plane-webhook",
      "name": "Plane Webhook (Issue Changed)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "webhookId": "plane-issue-sync"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 10 }]
        }
      },
      "id": "odoo-poll",
      "name": "Odoo Poll (Every 10 Min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 600]
    },
    {
      "parameters": {
        "jsCode": "// Extract Plane issue data from webhook payload\nconst event = $json.body?.event || $json.event;\nconst data = $json.body?.data || $json.data;\n\nif (!data || !data.id) {\n  return [{ json: { skip: true, reason: 'no issue data' } }];\n}\n\n// Map Plane states to Odoo project.task stages\nconst stateMap = {\n  'backlog': 'New',\n  'unstarted': 'New',\n  'started': 'In Progress',\n  'completed': 'Done',\n  'cancelled': 'Cancelled'\n};\n\nconst priorityMap = {\n  'urgent': '3',\n  'high': '2',\n  'medium': '1',\n  'low': '0',\n  'none': '0'\n};\n\nreturn [{\n  json: {\n    source: 'plane',\n    event: event,\n    plane_id: data.id,\n    name: data.name,\n    description: data.description_stripped || data.description_html || '',\n    state: stateMap[data.state_detail?.group] || 'New',\n    priority: priorityMap[data.priority_detail?.key] || '0',\n    assignee_email: data.assignee_detail?.email || null,\n    plane_sequence: data.sequence_id,\n    plane_project_id: data.project,\n    updated_at: data.updated_at\n  }\n}];"
      },
      "id": "parse-plane-event",
      "name": "Parse Plane Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "if-valid-plane-event",
      "name": "Valid Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "custom",
        "customResource": "project.task",
        "returnAll": false,
        "limit": 1,
        "options": {
          "fieldsList": ["id", "name", "stage_id", "priority", "x_plane_issue_id", "write_date", "user_ids"],
          "domain": "=[['x_plane_issue_id', '=', '{{ $json.plane_id }}']]"
        }
      },
      "id": "odoo-find-task",
      "name": "Odoo — Find Task by Plane ID",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [880, 200],
      "credentials": {
        "odooApi": { "id": "odoo-erp", "name": "Odoo ERP" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "task-exists",
              "leftValue": "={{ $json.id }}",
              "operator": { "type": "exists", "operation": "exists" }
            }
          ]
        }
      },
      "id": "if-task-exists",
      "name": "Task Exists in Odoo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "jsCode": "// CONFLICT RESOLUTION: Odoo wins\n// Compare write_date — if Odoo was modified more recently, skip Plane update\nconst odooTask = $json;\nconst planeData = $('Parse Plane Event').item.json;\n\nconst odooModified = new Date(odooTask.write_date);\nconst planeModified = new Date(planeData.updated_at);\n\n// Odoo wins: if Odoo was modified within last 60s of Plane change, Odoo takes precedence\nconst diffMs = Math.abs(odooModified.getTime() - planeModified.getTime());\nconst odooIsNewer = odooModified > planeModified;\n\nif (odooIsNewer && diffMs < 120000) {\n  // Conflict — Odoo wins. Push Odoo state back to Plane instead.\n  return [{ json: { action: 'odoo_wins', odoo_task_id: odooTask.id, plane_id: planeData.plane_id, reason: 'Odoo modified more recently' } }];\n}\n\n// No conflict — apply Plane change to Odoo\nreturn [{ json: { action: 'update_odoo', odoo_task_id: odooTask.id, ...planeData } }];"
      },
      "id": "conflict-resolver",
      "name": "Conflict Resolution (Odoo Wins)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 120]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update_odoo",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-update-odoo",
      "name": "Update Odoo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 120]
    },
    {
      "parameters": {
        "operation": "update",
        "resource": "custom",
        "customResource": "project.task",
        "recordId": "={{ $json.odoo_task_id }}",
        "fieldsToSend": {
          "fields": [
            { "fieldName": "name", "fieldValue": "={{ $json.name }}" },
            { "fieldName": "description", "fieldValue": "={{ $json.description }}" },
            { "fieldName": "priority", "fieldValue": "={{ $json.priority }}" }
          ]
        }
      },
      "id": "odoo-update-task",
      "name": "Odoo — Update Task",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [1760, 40],
      "credentials": {
        "odooApi": { "id": "odoo-erp", "name": "Odoo ERP" }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "custom",
        "customResource": "project.task",
        "fieldsToSend": {
          "fields": [
            { "fieldName": "name", "fieldValue": "={{ $('Parse Plane Event').item.json.name }}" },
            { "fieldName": "description", "fieldValue": "={{ $('Parse Plane Event').item.json.description }}" },
            { "fieldName": "priority", "fieldValue": "={{ $('Parse Plane Event').item.json.priority }}" },
            { "fieldName": "x_plane_issue_id", "fieldValue": "={{ $('Parse Plane Event').item.json.plane_id }}" }
          ]
        }
      },
      "id": "odoo-create-task",
      "name": "Odoo — Create Task",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [1320, 320],
      "credentials": {
        "odooApi": { "id": "odoo-erp", "name": "Odoo ERP" }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "custom",
        "customResource": "project.task",
        "returnAll": false,
        "limit": 50,
        "options": {
          "fieldsList": ["id", "name", "stage_id", "priority", "description", "x_plane_issue_id", "write_date", "user_ids"],
          "domain": "=[['x_plane_issue_id', '!=', False], ['write_date', '>=', '{{ $now.minus(10, \"minutes\").toISO() }}']]"
        }
      },
      "id": "odoo-get-changed-tasks",
      "name": "Odoo — Changed Tasks with Plane Link",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [440, 600],
      "credentials": {
        "odooApi": { "id": "odoo-erp", "name": "Odoo ERP" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-tasks",
              "leftValue": "={{ $json.id }}",
              "operator": { "type": "exists", "operation": "exists" }
            }
          ]
        }
      },
      "id": "if-odoo-changes",
      "name": "Has Odoo Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 600]
    },
    {
      "parameters": {
        "jsCode": "// Map Odoo stage to Plane state group\nconst stageToPlane = {\n  'New': 'unstarted',\n  'In Progress': 'started',\n  'Done': 'completed',\n  'Cancelled': 'cancelled'\n};\n\nconst priorityToPlane = {\n  '0': 'low',\n  '1': 'medium',\n  '2': 'high',\n  '3': 'urgent'\n};\n\nconst stageName = $json.stage_id ? $json.stage_id[1] : 'New';\n\nreturn [{\n  json: {\n    plane_issue_id: $json.x_plane_issue_id,\n    odoo_task_id: $json.id,\n    name: $json.name,\n    description_html: $json.description || '',\n    state_group: stageToPlane[stageName] || 'unstarted',\n    priority_key: priorityToPlane[$json.priority] || 'low'\n  }\n}];"
      },
      "id": "map-odoo-to-plane",
      "name": "Map Odoo → Plane Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 600]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.PLANE_API_URL }}/api/v1/workspaces/{{ $env.PLANE_WORKSPACE_SLUG }}/projects/{{ $env.PLANE_PROJECT_ID }}/issues/{{ $json.plane_issue_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"name\":\"{{ $json.name }}\",\"description_html\":\"{{ $json.description_html }}\"}",
        "options": {}
      },
      "id": "plane-update-issue",
      "name": "Plane — Update Issue (Odoo Wins)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 600],
      "credentials": {
        "httpHeaderAuth": { "id": "plane-api", "name": "Plane API Key" }
      }
    },
    {
      "parameters": {
        "channel": "#platform-alerts",
        "text": "=:arrows_counterclockwise: *Plane ↔ Odoo sync*\n• Direction: {{ $json.action === 'odoo_wins' ? 'Odoo → Plane (conflict, Odoo wins)' : $json.plane_issue_id ? 'Odoo → Plane' : 'Plane → Odoo' }}\n• Task: {{ $json.name || 'N/A' }}",
        "otherOptions": {}
      },
      "id": "slack-notify-sync",
      "name": "Slack — Sync Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1320, 600],
      "credentials": {
        "slackApi": { "id": "slack-bot", "name": "Slack Bot" }
      }
    }
  ],
  "connections": {
    "Plane Webhook (Issue Changed)": { "main": [[{ "node": "Parse Plane Event", "type": "main", "index": 0 }]] },
    "Parse Plane Event": { "main": [[{ "node": "Valid Event?", "type": "main", "index": 0 }]] },
    "Valid Event?": { "main": [[{ "node": "Odoo — Find Task by Plane ID", "type": "main", "index": 0 }], []] },
    "Odoo — Find Task by Plane ID": { "main": [[{ "node": "Task Exists in Odoo?", "type": "main", "index": 0 }]] },
    "Task Exists in Odoo?": {
      "main": [
        [{ "node": "Conflict Resolution (Odoo Wins)", "type": "main", "index": 0 }],
        [{ "node": "Odoo — Create Task", "type": "main", "index": 0 }]
      ]
    },
    "Conflict Resolution (Odoo Wins)": { "main": [[{ "node": "Update Odoo?", "type": "main", "index": 0 }]] },
    "Update Odoo?": {
      "main": [
        [{ "node": "Odoo — Update Task", "type": "main", "index": 0 }],
        [{ "node": "Plane — Update Issue (Odoo Wins)", "type": "main", "index": 0 }]
      ]
    },
    "Odoo Poll (Every 10 Min)": { "main": [[{ "node": "Odoo — Changed Tasks with Plane Link", "type": "main", "index": 0 }]] },
    "Odoo — Changed Tasks with Plane Link": { "main": [[{ "node": "Has Odoo Changes?", "type": "main", "index": 0 }]] },
    "Has Odoo Changes?": { "main": [[{ "node": "Map Odoo → Plane Fields", "type": "main", "index": 0 }], []] },
    "Map Odoo → Plane Fields": { "main": [[{ "node": "Plane — Update Issue (Odoo Wins)", "type": "main", "index": 0 }]] },
    "Plane — Update Issue (Odoo Wins)": { "main": [[{ "node": "Slack — Sync Notification", "type": "main", "index": 0 }]] },
    "Odoo — Update Task": { "main": [[{ "node": "Slack — Sync Notification", "type": "main", "index": 0 }]] },
    "Odoo — Create Task": { "main": [[{ "node": "Slack — Sync Notification", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "integration" }, { "name": "plane" }, { "name": "odoo" }, { "name": "sync" }],
  "active": false
}
