automations/n8n/workflows/16-tax-compliance-check.json
{
  "name": "Tax Compliance Check — Monthly BIR Validation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monthly 1st 8AM Manila",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-compliance-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Tax Compliance Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 520]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst prevMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst prevMonthEnd = new Date(now.getFullYear(), now.getMonth(), 0);\n\nreturn [{ json: {\n  date_from: prevMonth.toISOString().split('T')[0],\n  date_to: prevMonthEnd.toISOString().split('T')[0],\n  month_name: prevMonth.toLocaleDateString('en-US', { month: 'long', year: 'numeric' }),\n  current_month: now.toLocaleDateString('en-US', { month: 'long', year: 'numeric' }),\n  current_year: now.getFullYear(),\n  current_month_num: now.getMonth() + 1\n}}];"
      },
      "id": "calc-dates",
      "name": "Calculate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.insightpulseai.com/xmlrpc/2/object",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['odoo', 2, 'admin', 'account.move', 'search_read', [[['company_id', '=', 2], ['state', '=', 'posted'], ['move_type', 'in', ['out_invoice', 'out_refund', 'in_invoice', 'in_refund']], ['invoice_date', '>=', $json.date_from], ['invoice_date', '<=', $json.date_to]]], {'fields': ['name', 'move_type', 'partner_id', 'invoice_date', 'amount_untaxed', 'amount_tax', 'amount_total', 'fiscal_position_id', 'tax_totals'], 'limit': 500, 'order': 'invoice_date asc'}]) }}"
      },
      "id": "odoo-get-invoices",
      "name": "Odoo — Get Posted Invoices/Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.insightpulseai.com/xmlrpc/2/object",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['odoo', 2, 'admin', 'account.move.line', 'search_read', [[['company_id', '=', 2], ['parent_state', '=', 'posted'], ['tax_line_id', '!=', false], ['date', '>=', $('Calculate Date Range').first().json.date_from], ['date', '<=', $('Calculate Date Range').first().json.date_to]]], {'fields': ['name', 'move_id', 'tax_line_id', 'debit', 'credit', 'balance', 'partner_id', 'account_id'], 'limit': 500}]) }}"
      },
      "id": "odoo-get-tax-lines",
      "name": "Odoo — Get Tax Lines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 520]
    },
    {
      "parameters": {
        "jsCode": "const invoices = $('Odoo — Get Posted Invoices/Bills').all().map(i => i.json);\nconst taxLines = $('Odoo — Get Tax Lines').all().map(i => i.json);\nconst flat_inv = Array.isArray(invoices[0]) ? invoices[0] : invoices;\nconst flat_tax = Array.isArray(taxLines[0]) ? taxLines[0] : taxLines;\nconst dates = $('Calculate Date Range').first().json;\n\n// Classify invoices\nconst sales = flat_inv.filter(i => i.move_type === 'out_invoice' || i.move_type === 'out_refund');\nconst purchases = flat_inv.filter(i => i.move_type === 'in_invoice' || i.move_type === 'in_refund');\n\n// VAT validation\nconst issues = [];\nlet vatTotal = 0;\nlet ewtTotal = 0;\n\nfor (const inv of flat_inv) {\n  if (!inv || !inv.id) continue;\n  const taxAmt = inv.amount_tax || 0;\n  const untaxed = inv.amount_untaxed || 0;\n  \n  // Check if VAT is applied (12% standard PH rate)\n  if (untaxed > 0 && taxAmt === 0) {\n    issues.push({\n      type: 'missing_vat',\n      severity: 'high',\n      invoice: inv.name,\n      partner: Array.isArray(inv.partner_id) ? inv.partner_id[1] : inv.partner_id,\n      amount: untaxed,\n      message: `No tax applied on ${inv.name} (${inv.move_type}) — amount: PHP ${untaxed.toFixed(2)}`\n    });\n  }\n  \n  // Check VAT rate reasonableness (should be ~12% of untaxed)\n  if (untaxed > 0 && taxAmt > 0) {\n    const effectiveRate = (taxAmt / untaxed) * 100;\n    if (effectiveRate < 10 || effectiveRate > 15) {\n      issues.push({\n        type: 'unusual_tax_rate',\n        severity: 'medium',\n        invoice: inv.name,\n        partner: Array.isArray(inv.partner_id) ? inv.partner_id[1] : inv.partner_id,\n        effective_rate: effectiveRate.toFixed(2),\n        message: `Unusual tax rate ${effectiveRate.toFixed(2)}% on ${inv.name} (expected ~12% VAT)`\n      });\n    }\n    vatTotal += taxAmt;\n  }\n  \n  // Check fiscal position for vendor bills (EWT)\n  if ((inv.move_type === 'in_invoice' || inv.move_type === 'in_refund') && !inv.fiscal_position_id) {\n    issues.push({\n      type: 'missing_fiscal_position',\n      severity: 'medium',\n      invoice: inv.name,\n      partner: Array.isArray(inv.partner_id) ? inv.partner_id[1] : inv.partner_id,\n      message: `No fiscal position on vendor bill ${inv.name} — EWT may not be applied correctly`\n    });\n  }\n}\n\n// BIR filing deadlines for current month\nconst month = dates.current_month_num;\nconst year = dates.current_year;\nconst deadlines = [\n  { form: '2550M', desc: 'Monthly VAT Return', deadline: `${year}-${String(month).padStart(2,'0')}-20`, penalty: 'Surcharge 25% + Interest 12% p.a.' },\n  { form: '2550Q', desc: 'Quarterly VAT Return (if quarter-end)', deadline: month % 3 === 1 ? `${year}-${String(month).padStart(2,'0')}-25` : 'N/A', penalty: 'Surcharge 25% + Interest 12% p.a.' },\n  { form: '0619E', desc: 'Monthly EWT Remittance', deadline: `${year}-${String(month).padStart(2,'0')}-10`, penalty: 'Surcharge 25% + Interest 12% p.a. + Compromise' },\n  { form: '1601C', desc: 'Monthly Withholding Tax on Compensation', deadline: `${year}-${String(month).padStart(2,'0')}-10`, penalty: 'Surcharge 25% + Interest 12% p.a.' },\n  { form: '2307', desc: 'Certificate of Creditable Tax Withheld (issue to vendor)', deadline: `${year}-${String(month).padStart(2,'0')}-20`, penalty: 'PHP 1,000 per certificate' }\n].filter(d => d.deadline !== 'N/A');\n\nreturn [{ json: {\n  period: dates.month_name,\n  current_month: dates.current_month,\n  sales_count: sales.filter(s => s.id).length,\n  sales_total: sales.reduce((s, i) => s + (i.amount_total || 0), 0),\n  purchase_count: purchases.filter(p => p.id).length,\n  purchase_total: purchases.reduce((s, i) => s + (i.amount_total || 0), 0),\n  vat_collected: vatTotal,\n  tax_lines_count: flat_tax.filter(t => t.id).length,\n  issues: issues,\n  issue_count: issues.length,\n  high_severity: issues.filter(i => i.severity === 'high').length,\n  deadlines: deadlines,\n  invoices_sample: flat_inv.slice(0, 20).map(i => ({\n    name: i.name, type: i.move_type,\n    partner: Array.isArray(i.partner_id) ? i.partner_id[1] : i.partner_id,\n    untaxed: i.amount_untaxed, tax: i.amount_tax, total: i.amount_total,\n    fiscal_position: Array.isArray(i.fiscal_position_id) ? i.fiscal_position_id[1] : (i.fiscal_position_id || 'None')\n  }))\n}}];"
      },
      "id": "validate-tax",
      "name": "Validate Tax Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data-intel-ph-resource.openai.azure.com/openai/deployments/gpt-4.1/chat/completions?api-version=2024-08-01-preview",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.AZURE_FOUNDRY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4.1', messages: [{ role: 'system', content: 'You are a Philippine tax compliance expert specializing in BIR regulations. Analyze tax data for TBWA\\\\SMP and provide a compliance assessment. Reference specific BIR forms, deadlines, and penalties. Format as markdown with: ## Compliance Score, ## VAT Analysis, ## EWT Analysis, ## Issues Found, ## BIR Filing Calendar, ## Recommended Actions.' }, { role: 'user', content: 'Tax compliance check for period: ' + $json.period + '\\n\\nSales invoices: ' + $json.sales_count + ' (PHP ' + $json.sales_total.toFixed(2) + ')\\nPurchase bills: ' + $json.purchase_count + ' (PHP ' + $json.purchase_total.toFixed(2) + ')\\nVAT collected: PHP ' + $json.vat_collected.toFixed(2) + '\\nTax lines: ' + $json.tax_lines_count + '\\n\\nIssues found (' + $json.issue_count + '):\\n' + JSON.stringify($json.issues.slice(0, 15)) + '\\n\\nBIR deadlines this month (' + $json.current_month + '):\\n' + JSON.stringify($json.deadlines) + '\\n\\nSample invoices:\\n' + JSON.stringify($json.invoices_sample) }], max_tokens: 2000, temperature: 0.2 }) }}"
      },
      "id": "gpt-analyze",
      "name": "GPT-4.1 — Compliance Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const gptResponse = $input.first().json;\nconst analysis = gptResponse.choices?.[0]?.message?.content || 'No analysis generated';\nconst data = $('Validate Tax Compliance').first().json;\n\nconst today = new Date().toISOString().split('T')[0];\nconst priority = data.high_severity > 0 ? '1' : '0';\n\nconst description = `## Monthly Tax Compliance Report\\n\\n**Period**: ${data.period}\\n**Run date**: ${today}\\n**Company**: TBWA\\\\SMP (CID=2)\\n\\n### Transaction Summary\\n| Type | Count | Total (PHP) |\\n|------|-------|-------------|\\n| Sales Invoices | ${data.sales_count} | ${data.sales_total.toFixed(2)} |\\n| Purchase Bills | ${data.purchase_count} | ${data.purchase_total.toFixed(2)} |\\n| VAT Collected | — | ${data.vat_collected.toFixed(2)} |\\n\\n### Issues Found: ${data.issue_count}\\n- High severity: ${data.high_severity}\\n- Medium severity: ${data.issue_count - data.high_severity}\\n\\n### BIR Filing Deadlines (${data.current_month})\\n${data.deadlines.map(d => '- **' + d.form + '**: ' + d.desc + ' — Due: ' + d.deadline).join('\\n')}\\n\\n---\\n\\n${analysis}`;\n\nreturn [{ json: {\n  task_name: `Tax Compliance Report — ${data.period}`,\n  description: description,\n  project_id: 5,\n  user_id: 17,\n  priority: priority\n}}];"
      },
      "id": "format-task",
      "name": "Format Compliance Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.insightpulseai.com/xmlrpc/2/object",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['odoo', 2, 'admin', 'project.task', 'create', [{'name': $json.task_name, 'description': $json.description, 'project_id': $json.project_id, 'user_ids': [[6, 0, [$json.user_id]]], 'tag_ids': [[0, 0, {'name': 'tax-compliance'}], [0, 0, {'name': 'BIR'}]], 'priority': $json.priority}]]) }}"
      },
      "id": "odoo-create-task",
      "name": "Odoo — Create Compliance Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "channel": "#finance-alerts",
        "text": "=:receipt: *Monthly Tax Compliance Check Complete*\n• Period: {{ $('Validate Tax Compliance').first().json.period }}\n• Sales: {{ $('Validate Tax Compliance').first().json.sales_count }} invoices (PHP {{ $('Validate Tax Compliance').first().json.sales_total.toFixed(2) }})\n• Purchases: {{ $('Validate Tax Compliance').first().json.purchase_count }} bills (PHP {{ $('Validate Tax Compliance').first().json.purchase_total.toFixed(2) }})\n• Issues found: {{ $('Validate Tax Compliance').first().json.issue_count }} ({{ $('Validate Tax Compliance').first().json.high_severity }} high severity)\n• Task created in Tax Compliance project, assigned to BOM",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Slack — Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1880, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', task_id: $('Odoo — Create Compliance Task').first().json, period: $('Validate Tax Compliance').first().json.period, issues: $('Validate Tax Compliance').first().json.issue_count }) }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1880, 520]
    }
  ],
  "connections": {
    "Monthly 1st 8AM Manila": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Tax Compliance Check": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Range": {
      "main": [
        [
          {
            "node": "Odoo — Get Posted Invoices/Bills",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo — Get Tax Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo — Get Posted Invoices/Bills": {
      "main": [
        [
          {
            "node": "Validate Tax Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo — Get Tax Lines": {
      "main": [
        [
          {
            "node": "Validate Tax Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tax Compliance": {
      "main": [
        [
          {
            "node": "GPT-4.1 — Compliance Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 — Compliance Analysis": {
      "main": [
        [
          {
            "node": "Format Compliance Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Compliance Task": {
      "main": [
        [
          {
            "node": "Odoo — Create Compliance Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo — Create Compliance Task": {
      "main": [
        [
          {
            "node": "Slack — Notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Manila"
  },
  "staticData": null
}
