automations/n8n/workflows/18-evidence-pack-generator.json
{
  "name": "Evidence Pack Generator — Task + Invoice + Tax Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evidence-pack",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Evidence Pack",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "evidence-pack"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst month = body.month || '2026-04';\nconst projectId = body.project_id || 4;\n\n// Calculate date range for the month\nconst [year, mon] = month.split('-').map(Number);\nconst dateFrom = `${month}-01`;\nconst lastDay = new Date(year, mon, 0).getDate();\nconst dateTo = `${month}-${String(lastDay).padStart(2, '0')}`;\nconst monthName = new Date(year, mon - 1, 1).toLocaleDateString('en-US', { month: 'long', year: 'numeric' });\n\nreturn {\n  json: {\n    month,\n    month_name: monthName,\n    project_id: projectId,\n    date_from: dateFrom,\n    date_to: dateTo,\n    odoo_url: 'https://erp.insightpulseai.com',\n    db: 'odoo',\n    uid: 2,\n    password: 'admin'\n  }\n};"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.odoo_url }}/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $json.db }}\",\n      {{ $json.uid }},\n      \"{{ $json.password }}\",\n      \"project.task\",\n      \"search_read\",\n      [[\"project_id\", \"=\", {{ $json.project_id }}], [\"date_deadline\", \">=\", \"{{ $json.date_from }}\"], [\"date_deadline\", \"<=\", \"{{ $json.date_to }}\"]]  ,\n      {\"fields\": [\"name\", \"stage_id\", \"user_ids\", \"date_deadline\", \"date_last_stage_update\", \"priority\"], \"limit\": 500}\n    ]\n  },\n  \"id\": 10\n}",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-tasks",
      "name": "Fetch Project Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Input').item.json.odoo_url }}/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $('Parse Input').item.json.db }}\",\n      {{ $('Parse Input').item.json.uid }},\n      \"{{ $('Parse Input').item.json.password }}\",\n      \"account.move\",\n      \"search_read\",\n      [[\"state\", \"=\", \"posted\"], [\"date\", \">=\", \"{{ $('Parse Input').item.json.date_from }}\"], [\"date\", \"<=\", \"{{ $('Parse Input').item.json.date_to }}\"]],\n      {\"fields\": [\"name\", \"move_type\", \"partner_id\", \"amount_total\", \"amount_tax\", \"date\", \"state\", \"currency_id\"], \"limit\": 1000}\n    ]\n  },\n  \"id\": 11\n}",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-invoices",
      "name": "Fetch Posted Invoices/Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Input').item.json.odoo_url }}/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $('Parse Input').item.json.db }}\",\n      {{ $('Parse Input').item.json.uid }},\n      \"{{ $('Parse Input').item.json.password }}\",\n      \"account.move.line\",\n      \"search_read\",\n      [[\"parent_state\", \"=\", \"posted\"], [\"date\", \">=\", \"{{ $('Parse Input').item.json.date_from }}\"], [\"date\", \"<=\", \"{{ $('Parse Input').item.json.date_to }}\"], [\"tax_line_id\", \"!=\", false]],\n      {\"fields\": [\"name\", \"tax_line_id\", \"debit\", \"credit\", \"balance\", \"account_id\", \"move_id\"], \"limit\": 2000}\n    ]\n  },\n  \"id\": 12\n}",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-tax-lines",
      "name": "Fetch Tax Lines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 520]
    },
    {
      "parameters": {
        "jsCode": "const period = $('Parse Input').first().json;\nconst tasks = ($('Fetch Project Tasks').first().json.result || []);\nconst invoices = ($('Fetch Posted Invoices/Bills').first().json.result || []);\nconst taxLines = ($('Fetch Tax Lines').first().json.result || []);\n\n// --- Task Completion ---\nconst taskByStage = {};\ntasks.forEach(t => {\n  const stage = t.stage_id ? t.stage_id[1] : 'Unknown';\n  if (!taskByStage[stage]) taskByStage[stage] = { count: 0, tasks: [] };\n  taskByStage[stage].count++;\n  taskByStage[stage].tasks.push({ id: t.id, name: t.name, deadline: t.date_deadline });\n});\n\nconst taskCompletion = {\n  total: tasks.length,\n  by_stage: taskByStage,\n  completed_stages: Object.keys(taskByStage).filter(s => ['Closed', 'Compliance Closed', 'Submitted', 'Posted'].includes(s)),\n  overdue: tasks.filter(t => t.date_deadline && t.date_deadline < period.date_to && !['Closed', 'Compliance Closed'].includes(t.stage_id?.[1]))\n    .map(t => ({ id: t.id, name: t.name, stage: t.stage_id?.[1], deadline: t.date_deadline }))\n};\n\n// --- Invoice Summary ---\nconst invoiceSummary = {\n  total_count: invoices.length,\n  by_type: {},\n  total_amount: 0,\n  total_tax: 0\n};\n\ninvoices.forEach(inv => {\n  const type = inv.move_type;\n  if (!invoiceSummary.by_type[type]) invoiceSummary.by_type[type] = { count: 0, amount: 0, tax: 0 };\n  invoiceSummary.by_type[type].count++;\n  invoiceSummary.by_type[type].amount += inv.amount_total || 0;\n  invoiceSummary.by_type[type].tax += inv.amount_tax || 0;\n  invoiceSummary.total_amount += inv.amount_total || 0;\n  invoiceSummary.total_tax += inv.amount_tax || 0;\n});\n\n// --- Tax Summary ---\nconst taxSummary = {\n  total_lines: taxLines.length,\n  by_tax: {},\n  vat_output: 0,\n  vat_input: 0,\n  ewt: 0\n};\n\ntaxLines.forEach(line => {\n  const taxName = line.tax_line_id ? line.tax_line_id[1] : 'Unknown';\n  if (!taxSummary.by_tax[taxName]) taxSummary.by_tax[taxName] = { debit: 0, credit: 0, balance: 0 };\n  taxSummary.by_tax[taxName].debit += line.debit || 0;\n  taxSummary.by_tax[taxName].credit += line.credit || 0;\n  taxSummary.by_tax[taxName].balance += line.balance || 0;\n  \n  const lower = taxName.toLowerCase();\n  if (lower.includes('output') || lower.includes('vat out') || lower.includes('sales tax')) {\n    taxSummary.vat_output += Math.abs(line.balance || 0);\n  } else if (lower.includes('input') || lower.includes('vat in') || lower.includes('purchase tax')) {\n    taxSummary.vat_input += Math.abs(line.balance || 0);\n  } else if (lower.includes('ewt') || lower.includes('withholding') || lower.includes('creditable')) {\n    taxSummary.ewt += Math.abs(line.balance || 0);\n  }\n});\n\n// --- Sign-offs ---\nconst signOffs = {\n  generated_at: new Date().toISOString(),\n  generated_by: 'n8n/evidence-pack-generator',\n  period: period.month,\n  project_id: period.project_id,\n  task_coverage: tasks.length > 0,\n  invoice_coverage: invoices.length > 0,\n  tax_coverage: taxLines.length > 0,\n  completeness_score: [\n    tasks.length > 0 ? 1 : 0,\n    invoices.length > 0 ? 1 : 0,\n    taxLines.length > 0 ? 1 : 0\n  ].reduce((a, b) => a + b, 0) / 3 * 100\n};\n\nconst evidencePack = {\n  metadata: {\n    version: '1.0.0',\n    period: period.month,\n    month_name: period.month_name,\n    project_id: period.project_id,\n    date_range: { from: period.date_from, to: period.date_to },\n    generated_at: signOffs.generated_at\n  },\n  task_completion: taskCompletion,\n  invoice_summary: invoiceSummary,\n  tax_summary: taxSummary,\n  sign_offs: signOffs\n};\n\nreturn { json: evidencePack };"
      },
      "id": "compile-evidence",
      "name": "Compile Evidence Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/evidence_packs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"period\": \"{{ $json.metadata.period }}\",\n  \"project_id\": {{ $json.metadata.project_id }},\n  \"pack\": {{ JSON.stringify($json) }},\n  \"generated_at\": \"{{ $json.metadata.generated_at }}\",\n  \"completeness_score\": {{ $json.sign_offs.completeness_score }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "store-supabase",
      "name": "Store in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 340]
    },
    {
      "parameters": {
        "jsCode": "const pack = $('Compile Evidence Pack').first().json;\n\nreturn {\n  json: {\n    status: 'ok',\n    period: pack.metadata.period,\n    month_name: pack.metadata.month_name,\n    project_id: pack.metadata.project_id,\n    summary: {\n      tasks_found: pack.task_completion.total,\n      overdue_count: pack.task_completion.overdue.length,\n      invoices_posted: pack.invoice_summary.total_count,\n      invoice_total: pack.invoice_summary.total_amount,\n      tax_lines: pack.tax_summary.total_lines,\n      vat_output: pack.tax_summary.vat_output,\n      vat_input: pack.tax_summary.vat_input,\n      ewt: pack.tax_summary.ewt,\n      completeness_score: pack.sign_offs.completeness_score\n    },\n    evidence_pack: pack\n  }\n};"
      },
      "id": "final-response",
      "name": "Return Evidence Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 340]
    }
  ],
  "connections": {
    "Webhook: Evidence Pack": {
      "main": [
        [{ "node": "Parse Input", "type": "main", "index": 0 }]
      ]
    },
    "Parse Input": {
      "main": [
        [
          { "node": "Fetch Project Tasks", "type": "main", "index": 0 },
          { "node": "Fetch Posted Invoices/Bills", "type": "main", "index": 0 },
          { "node": "Fetch Tax Lines", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Project Tasks": {
      "main": [
        [{ "node": "Compile Evidence Pack", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Posted Invoices/Bills": {
      "main": [
        [{ "node": "Compile Evidence Pack", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Tax Lines": {
      "main": [
        [{ "node": "Compile Evidence Pack", "type": "main", "index": 0 }]
      ]
    },
    "Compile Evidence Pack": {
      "main": [
        [{ "node": "Store in Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Store in Supabase": {
      "main": [
        [{ "node": "Return Evidence Pack", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Manila",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [
    { "name": "finance" },
    { "name": "evidence" },
    { "name": "phase-d" }
  ]
}
