automations/n8n/workflows/expense_receipt_capture.json
{
  "name": "Expense Receipt Capture — Telegram → Azure DI → Odoo",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {
          "download": true
        }
      },
      "id": "telegram-trigger",
      "name": "Telegram - Receipt Photo",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [250, 200],
      "webhookId": "expense-receipt-telegram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-id",
              "name": "chatId",
              "type": "number",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "file-id",
              "name": "fileId",
              "type": "string",
              "value": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : ($json.message.document ? $json.message.document.file_id : '') }}"
            },
            {
              "id": "caption",
              "name": "caption",
              "type": "string",
              "value": "={{ $json.message.caption || 'Telegram Receipt' }}"
            },
            {
              "id": "sender",
              "name": "sender",
              "type": "string",
              "value": "={{ $json.message.from.first_name + ' ' + ($json.message.from.last_name || '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "clean-input",
      "name": "Clean Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 200]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.fileId.replace(/\\n/g, '') }}",
        "additionalFields": {}
      },
      "id": "telegram-download",
      "name": "Telegram - Download File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "extract-binary",
      "name": "Extract Binary",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_ODOO_URL}}/xmlrpc/2/common",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=<?xml version=\"1.0\"?><methodCall><methodName>authenticate</methodName><params><param><value><string>{{$env.N8N_ODOO_DB}}</string></value></param><param><value><string>{{$env.N8N_ODOO_USER}}</string></value></param><param><value><string>{{$env.N8N_ODOO_PASSWORD}}</string></value></param><param><value><struct></struct></value></param></params></methodCall>",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "odoo-auth",
      "name": "Odoo - Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse XML-RPC uid from authenticate response\nconst xml = $input.first().json.data || $input.first().json.body || '';\nconst match = xml.match(/<int>(\\d+)<\\/int>/);\nconst uid = match ? parseInt(match[1]) : 0;\n\n// Get binary data from Extract Binary node\nconst binaryItem = $('Extract Binary').first();\nconst base64Data = binaryItem.json.data || '';\nconst caption = $('Clean Input').first().json.caption;\nconst chatId = $('Clean Input').first().json.chatId;\nconst sender = $('Clean Input').first().json.sender;\n\nreturn [{ json: { uid, base64Data, caption, chatId, sender } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Upload Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_ODOO_URL}}/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=<?xml version=\"1.0\"?><methodCall><methodName>execute_kw</methodName><params><param><value><string>{{$env.N8N_ODOO_DB}}</string></value></param><param><value><int>{{ $json.uid }}</int></value></param><param><value><string>{{$env.N8N_ODOO_PASSWORD}}</string></value></param><param><value><string>ir.attachment</string></value></param><param><value><string>create</string></value></param><param><value><array><data><value><struct><member><name>name</name><value><string>receipt.jpg</string></value></member><member><name>type</name><value><string>binary</string></value></member><member><name>datas</name><value><string>{{ $json.base64Data }}</string></value></member><member><name>mimetype</name><value><string>image/jpeg</string></value></member></struct></value></data></array></value></param></params></methodCall>",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "odoo-create-attachment",
      "name": "Odoo - Upload Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse attachment ID from XML-RPC response\nconst xml = $input.first().json.data || $input.first().json.body || '';\nconst match = xml.match(/<int>(\\d+)<\\/int>/);\nconst attachmentId = match ? parseInt(match[1]) : 0;\nconst prev = $('Prepare Upload Data').first().json;\nreturn [{ json: { ...prev, attachmentId } }];"
      },
      "id": "parse-attachment-id",
      "name": "Parse Attachment ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_ODOO_URL}}/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=<?xml version=\"1.0\"?><methodCall><methodName>execute_kw</methodName><params><param><value><string>{{$env.N8N_ODOO_DB}}</string></value></param><param><value><int>{{ $json.uid }}</int></value></param><param><value><string>{{$env.N8N_ODOO_PASSWORD}}</string></value></param><param><value><string>ipai.ai.job</string></value></param><param><value><string>create</string></value></param><param><value><array><data><value><struct><member><name>source_model</name><value><string>hr.expense</string></value></member><member><name>source_record_id</name><value><int>0</int></value></member><member><name>source_record_name</name><value><string>{{ $json.caption }}</string></value></member><member><name>job_type</name><value><string>finance_review</string></value></member><member><name>trigger</name><value><string>api</string></value></member><member><name>attachment_id</name><value><int>{{ $json.attachmentId }}</int></value></member></struct></value></data></array></value></param></params></methodCall>",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "odoo-create-job",
      "name": "Odoo - Create AI Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse job ID\nconst xml = $input.first().json.data || $input.first().json.body || '';\nconst match = xml.match(/<int>(\\d+)<\\/int>/);\nconst jobId = match ? parseInt(match[1]) : 0;\nconst prev = $('Parse Attachment ID').first().json;\nreturn [{ json: { ...prev, jobId } }];"
      },
      "id": "parse-job-id",
      "name": "Parse Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_ODOO_URL}}/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=<?xml version=\"1.0\"?><methodCall><methodName>execute_kw</methodName><params><param><value><string>{{$env.N8N_ODOO_DB}}</string></value></param><param><value><int>{{ $json.uid }}</int></value></param><param><value><string>{{$env.N8N_ODOO_PASSWORD}}</string></value></param><param><value><string>ipai.ocr.client</string></value></param><param><value><string>submit_ocr_job</string></value></param><param><value><array><data><value><int>{{ $json.jobId }}</int></value></data></array></value></param></params></methodCall>",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 120000
        }
      },
      "id": "odoo-submit-ocr",
      "name": "Odoo - Submit OCR Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_ODOO_URL}}/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=<?xml version=\"1.0\"?><methodCall><methodName>execute_kw</methodName><params><param><value><string>{{$env.N8N_ODOO_DB}}</string></value></param><param><value><int>{{ $json.uid }}</int></value></param><param><value><string>{{$env.N8N_ODOO_PASSWORD}}</string></value></param><param><value><string>ipai.ai.job</string></value></param><param><value><string>read</string></value></param><param><value><array><data><value><int>{{ $json.jobId }}</int></value></data></array></value></param><param><value><struct><member><name>fields</name><value><array><data><value><string>state</string></value><value><string>confidence</string></value><value><string>result_payload</string></value><value><string>error_message</string></value><value><string>correlation_id</string></value></data></array></value></member></struct></value></param></params></methodCall>",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "odoo-read-job",
      "name": "Odoo - Read Job Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 200]
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data || $input.first().json.body || '';\nconst prev = $('Parse Job ID').first().json;\n\n// Parse state and confidence from XML-RPC struct response\nconst stateMatch = xml.match(/<name>state<\\/name>\\s*<value>(?:<string>)?([^<]+)/);\nconst confMatch = xml.match(/<name>confidence<\\/name>\\s*<value>(?:<double>)?([\\d.]+)/);\nconst errorMatch = xml.match(/<name>error_message<\\/name>\\s*<value>(?:<string>)?([^<]*)/);\nconst corrMatch = xml.match(/<name>correlation_id<\\/name>\\s*<value>(?:<string>)?([^<]*)/);\n\nconst state = stateMatch ? stateMatch[1] : 'unknown';\nconst confidence = confMatch ? parseFloat(confMatch[1]) : 0;\nconst error = errorMatch ? errorMatch[1] : '';\nconst correlationId = corrMatch ? corrMatch[1] : '';\n\nreturn [{ json: { ...prev, state, confidence, error, correlationId } }];"
      },
      "id": "parse-result",
      "name": "Parse OCR Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2890, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_ODOO_URL}}/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=<?xml version=\"1.0\"?><methodCall><methodName>execute_kw</methodName><params><param><value><string>{{$env.N8N_ODOO_DB}}</string></value></param><param><value><int>{{ $json.uid }}</int></value></param><param><value><string>{{$env.N8N_ODOO_PASSWORD}}</string></value></param><param><value><string>ipai.ocr.result</string></value></param><param><value><string>search_read</string></value></param><param><value><array><data><value><array><data><value><array><data><value><string>job_id</string></value><value><string>=</string></value><value><int>{{ $json.jobId }}</int></value></data></array></value></data></array></value></data></array></value></param><param><value><struct><member><name>fields</name><value><array><data><value><string>extracted_fields</string></value><value><string>overall_confidence</string></value><value><string>review_recommendation</string></value><value><string>extraction_mode</string></value><value><string>raw_text</string></value></data></array></value></member><member><name>limit</name><value><int>1</int></value></member></struct></value></param></params></methodCall>",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "odoo-read-ocr-result",
      "name": "Odoo - Read OCR Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3110, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data || $input.first().json.body || '';\nconst prev = $('Parse OCR Result').first().json;\n\n// Try to extract fields JSON from XML response\nlet merchant = '';\nlet total = 0;\nlet date = '';\nlet currency = 'PHP';\nlet confidence = prev.confidence;\nlet recommendation = '';\n\ntry {\n  // extracted_fields is stored as JSON string in XML\n  const fieldsMatch = xml.match(/<name>extracted_fields<\\/name>\\s*<value>(?:<string>)?(.+?)(?:<\\/string>)?<\\/value>/s);\n  if (fieldsMatch) {\n    const ef = JSON.parse(fieldsMatch[1].replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>'));\n    merchant = ef.MerchantName || '';\n    total = ef.Total || ef.InvoiceTotal?.amount || 0;\n    date = ef.TransactionDate || ef.InvoiceDate || '';\n    currency = ef.CurrencyCode || 'PHP';\n  }\n  const recMatch = xml.match(/<name>review_recommendation<\\/name>\\s*<value>(?:<string>)?([^<]*)/);\n  recommendation = recMatch ? recMatch[1] : '';\n  const confMatch = xml.match(/<name>overall_confidence<\\/name>\\s*<value>(?:<double>)?([\\d.]+)/);\n  if (confMatch) confidence = parseFloat(confMatch[1]);\n} catch(e) {\n  // If parsing fails, use raw values\n}\n\nreturn [{ json: { ...prev, merchant, total, date, currency, confidence, recommendation } }];"
      },
      "id": "format-receipt",
      "name": "Format Receipt Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3330, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/log_ocr_event",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY ?? $env.SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + ($env.SUPABASE_SERVICE_ROLE_KEY ?? $env.SUPABASE_ANON_KEY)}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"telegram\",\n  \"chat_id\": \"{{ $json.chatId }}\",\n  \"doc_type\": \"receipt\",\n  \"payload\": {{ JSON.stringify({ merchant: $json.merchant, total: $json.total, date: $json.date, currency: $json.currency, confidence: $json.confidence, job_id: $json.jobId, correlation_id: $json.correlationId, recommendation: $json.recommendation }) }}\n}",
        "options": {}
      },
      "id": "supabase-log",
      "name": "Supabase - Log OCR Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3550, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Receipt Data').first().json.chatId }}",
        "text": "={{ (() => { const d = $('Format Receipt Data').first().json; const ok = d.state === 'done' || d.state === 'needs_review'; if (!ok) return `❌ OCR failed\\nState: ${d.state}\\nError: ${d.error || 'unknown'}`; const pct = Math.round((d.confidence || 0) * 100); const rev = d.recommendation === 'auto_accept' ? '✅ Auto-accepted' : (d.recommendation === 'reject' ? '🔴 Needs re-scan' : '🟡 Needs human review'); return `📧 Receipt processed\\n\\nMerchant: ${d.merchant || 'n/a'}\\nTotal: ${d.currency} ${d.total || 'n/a'}\\nDate: ${d.date || 'n/a'}\\nConfidence: ${pct}%\\n${rev}\\n\\nOdoo Job: #${d.jobId} [${(d.correlationId || '').slice(0,8)}]`; })() }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-reply",
      "name": "Telegram - Reply Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3770, 200]
    },
    {
      "parameters": {
        "content": "## Expense Receipt Capture\n\n**Flow**: Telegram → Azure Document Intelligence → Odoo → Supabase → Telegram\n\n**Odoo modules used**:\n- `ipai_copilot_actions` (ipai.ai.job)\n- `ipai_document_intelligence` (ipai.ocr.client, ipai.ocr.result)\n\n**Model**: prebuilt-receipt (Azure DI v4.0)\n\n**Env vars required**:\n- N8N_ODOO_URL, N8N_ODOO_DB, N8N_ODOO_USER, N8N_ODOO_PASSWORD\n- SUPABASE_URL, SUPABASE_SERVICE_ROLE_KEY\n- AZURE_DI_API_KEY (on Odoo side, not n8n)\n- Telegram bot token (n8n credential vault)",
        "height": 380,
        "width": 460
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, -100]
    }
  ],
  "connections": {
    "Telegram - Receipt Photo": {
      "main": [[{ "node": "Clean Input", "type": "main", "index": 0 }]]
    },
    "Clean Input": {
      "main": [[{ "node": "Telegram - Download File", "type": "main", "index": 0 }]]
    },
    "Telegram - Download File": {
      "main": [[{ "node": "Extract Binary", "type": "main", "index": 0 }]]
    },
    "Extract Binary": {
      "main": [[{ "node": "Odoo - Authenticate", "type": "main", "index": 0 }]]
    },
    "Odoo - Authenticate": {
      "main": [[{ "node": "Prepare Upload Data", "type": "main", "index": 0 }]]
    },
    "Prepare Upload Data": {
      "main": [[{ "node": "Odoo - Upload Attachment", "type": "main", "index": 0 }]]
    },
    "Odoo - Upload Attachment": {
      "main": [[{ "node": "Parse Attachment ID", "type": "main", "index": 0 }]]
    },
    "Parse Attachment ID": {
      "main": [[{ "node": "Odoo - Create AI Job", "type": "main", "index": 0 }]]
    },
    "Odoo - Create AI Job": {
      "main": [[{ "node": "Parse Job ID", "type": "main", "index": 0 }]]
    },
    "Parse Job ID": {
      "main": [[{ "node": "Odoo - Submit OCR Job", "type": "main", "index": 0 }]]
    },
    "Odoo - Submit OCR Job": {
      "main": [[{ "node": "Odoo - Read Job Result", "type": "main", "index": 0 }]]
    },
    "Odoo - Read Job Result": {
      "main": [[{ "node": "Parse OCR Result", "type": "main", "index": 0 }]]
    },
    "Parse OCR Result": {
      "main": [[{ "node": "Odoo - Read OCR Fields", "type": "main", "index": 0 }]]
    },
    "Odoo - Read OCR Fields": {
      "main": [[{ "node": "Format Receipt Data", "type": "main", "index": 0 }]]
    },
    "Format Receipt Data": {
      "main": [[{ "node": "Supabase - Log OCR Event", "type": "main", "index": 0 }]]
    },
    "Supabase - Log OCR Event": {
      "main": [[{ "node": "Telegram - Reply Result", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "ipai-n8n-azure"
  }
}
